@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

.form-control{
    padding: 15px;
    font-size: 14px;
}