@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-weight: 800;
}

a.btn:hover{
    border: 2px solid black;
}